*{
    padding: 0%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
main{
   color: aliceblue;
}
.page-1{
    position: relative;
}

.hero{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
video{
  object-fit: cover;
    height: 100%;
    width: 100%;
   
    display: block;
}
.navbar{
    z-index: 3;
    width: 100vw;
    padding: 10px 50px;
    color: azure;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: (1.2vw,16px);
}

.nav-right{
    display: flex;
    gap: 20px;
    
}
.nav-right p{
    margin-top: 13px;
}
.navbar .nav-right ul{
    display: flex;
    gap: 1.8vw;
    margin-top: 13px;
    justify-content: space-evenly;
}
.navbar .nav-right ul li a{
    color: azure;
    text-decoration: none;
    font-size: max(0.8vw,13px);
    
  
}

.navbar .nav-right .join-waitlist{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    padding-right: 5px;
    background-color: black;
    border-radius: 27px;
}

.navbar .nav-right .join-waitlist a{
    margin-right: 10px;
}

.navbar .nav-right .join-waitlist .arrows{
display: flex;
width: 30px;
overflow: hidden;


}
.navbar .nav-right .join-waitlist .arrows i{
    color: black;
display: flex;
background-color: white;
padding: 10px;
width: 30px;
border-radius: 50%;
}

.page-1 .hero-text{
    margin-left: 5vw;
    top: max(10vw,100px);
    color: azure;
    font-size: max(5vw,60px);
    font-weight: 100;
}
.div-img{
width: 100vw;
height: 100vh;
background-color:rgba(0,0,0,0.2);
;

position: absolute;
top: 0px;

padding-top: 50px;
}
.content-1{
    display: flex;
    gap: 20px;
    color: azure;
     margin-top: 30px;
     margin-left: 50px;
}
.content-1 img{
    width: 48px;
   
}

.hero-content{
    position: absolute;
    bottom: 5%;
   
}

.content-text b{
    font-size: 1vw;
   
}

.content-text p{
    margin-top: 10px;
    font-size: 0.9vw;
    opacity: 0.8;
}

.hero-content{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: azure;
}

.content-right{
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.content-right h1{
    font-size: 3vw;
    font-weight: 300;
}
.content-right .join-waitlist{
    padding: 5px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 26px;
}

.content-right .join-waitlist a{
    padding: 5px 20px;
    font-size: min(2vw,16px);
}

.content-right .join-waitlist i{
    background-color: black;
    color: azure;
    padding: 10px;
    border-radius: 50%;
}



/* page2 css */

.page-2{
    display: flex;
    flex-direction: column;
    height:fit-content;
    width: 100vw;
    background-color:transparent;
}

.page-2-p{
    display: flex;
    align-items: center;
    height: 150px;
    margin: 0px 20px;
}
.page-2-p img{
    height: 35px;
    margin-right: 10px;
    animation: rotate 4s linear infinite;
}
.page-2-p p{
    font-size: 1vw;
    letter-spacing: 1px;
}

.page-2 h1{
    padding: 40px 10px;
    font-size: 6vw ;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}.page-2 h1{
    font-weight: 100;
    margin-left: 20px;
    z-index: 5;
}


.bounding{
    margin-top: 60px;
   width: fit-content;
    overflow: hidden;
}
.bounding-element{
    transform: translatey(100%);

    
}

.image-container{
    height: auto;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}
.img-1{
    position: relative;
}

.img-1 img{
    width: 32vw;
 z-index: 2;
 background-position: center;
 background-size: cover;
border-radius: 10px;
}

.top{
    position: absolute;
    border-bottom: 1px solid azure;
   
    top: 0;
    z-index:3;
    display: flex;
    width: 100%;
    
}

.left{
    position: relative;
    color: azure;
    width: fit-content;
    display: flex;
    padding: 0;
    margin: 0;
    border-right: 1px solid white;
    padding-right: 10px;
}

.left h1{
    font-size: 42px;
    padding: 0;
    margin-top: 20px;
 
}
.left p{
   position: absolute;
   top: 10px;
   right: 7px;

}
.right{
    flex: 1;
color: azure;
display: flex ;
flex-direction: column;
padding: 16px 20px;
}
.img-1 p{
   position: absolute;
   bottom: 10px; 
   z-index: 3;
   color: azure;
}

.page-2-bottom h1{
font-size: 5vw;
}

.page-2-bottom .bottom-2{
    display: flex;
    flex-wrap: wrap;
}

.bottom-2-content{
    margin-top: 50px;
    width:25%;
    border-right: 1px dashed gray;
    border-top: 1px dashed gray;
    padding: 30px;
  
}

.bottom-2-content img{
    width: 40px;
   
    padding-bottom: 60px;
    
}

.bottom-2-content h5{
    font-weight: 500;
    font-size: 1.3vw;
    padding-bottom: 10px;

}
.bottom-2-content p{
    font-size: 1vw;
}

/* page3 css */

.page-3{
    color:  azure;
    background-color: black;
    height: 100vh;
    width: 100vw;

}
.page-3 h1{
    padding-top: 30px;
    padding-left: 20px;
    font-size: 5vw;
    font-weight: 100;
}

/* page4 css */
.hands-div{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

}

.hands-div .image-div{
    width: 50%;
    overflow: hidden;
}
.hands-div .image-div img{
    width: 50vw ;
    height: 100vh;
  object-fit: cover;
}

.page-4-text{
   
    background-color: #c5b297;
    padding: 25px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.page-4-text h1{
    opacity: 0.8;
    font-weight: 200;
    font-size: 5vw;
}

.page-4-bottom h3{
    font-size: 2.7vw;
    font-weight: 300;
}

.join-waitlist-2{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    padding-right: 5px;
    background-color: black;
    width: fit-content;
    gap: 5px;
    border-radius: 27px;
}

.join-waitlist-2 a{
    font-size: 1.3vw;
    margin-right: 5px;
    color: azure;
    opacity: 0.8;
}

.join-waitlist-2 .arrows{
display: flex;
width: 30px;
overflow: hidden;


}
.join-waitlist-2 .arrows i{
    color: black;
display: flex;
background-color: white;
padding: 10px;
width: 30px;
border-radius: 50%;
}

.ipad-div{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ipad-div h1{
    font-size: min(7vw,70px);
    font-weight: 400;
    padding: 20px;
}
.ipad-div img{
    width: 90%;
    margin: 200px;
    margin-bottom: 50px;
   animation: ipadimg ease-in-out ;
   animation-timeline: view();
   animation-range: entry 0% cover 60%;

}

@keyframes ipadimg{
    from{
        scale: 0.7;
        filter: blur(6px);
    }
    to{
      scale: 1;
        filter: blur(0);  
    }
}


.sticky-page{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.795);

    padding: 20px;
}

.sticky-part{
    margin-top: 20px;
    position: sticky;
    top: 0;
    width: 60%;
  background: white; 
    
}
.sticky-part h3{
    
    font-size: 3.8vw;
    font-weight: 300;
}
#sticky-part{
    margin-top: 60px;
    position: sticky;
    top: 0;
}
.sticky-part p{
    margin-top: 30px;
    font-size: 1.1vw;
}

.sticky-content{
    display: flex;
    padding: 10px 0;
    margin-top: 50px;
    align-items: center;
}
.sticky-content img{
    height: 30px;
    margin: 5px 20px;

}
.sticky-content h6{
    font-weight: 600;
    margin-bottom: 5px;
    opacity: 0.8;
    font-size: 1.2vw;
}
.sticky-content p{
    font-size: 1vw;
    opacity: 0.8;
    width: 50%;
}
/* page5 css */

.page-5-heading{
    margin-top: 40px;
    margin-left: 30px;
}
.page-5-heading h1{
    font-size: 4vw;
    font-weight: 300;
}

.page-5-heading .join-waitlist-2{
    font-size: 1.5vw;
    margin-top: 30px;
}
.page-5-content{
    display: flex;
    flex-wrap: wrap;
}

.page-5-content-1{
    padding-left:20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   margin-top: 60px;
    border-right: 1px dashed gray;
    width: 32vw;
    height: 800px;
}
.page-5-content-1 h1{
    position: sticky;
    background-color:rgba(255,255,255);
    top: 15px;
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    font-weight: 300;
}

.page-5-content-1 ul li{
    list-style: none;
    font-size: 1vw;
}
.hero-img-2{
    width: 100vw;
    height: 100vh;
    z-index: 100000;
}
.page-5-hero{
    margin-top: 100px;
    width: 100vw;
    position: relative;
}
.page-5-hero img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    background-position: center;
}
.page-5-hero-content{
    padding: 100px;
    width: 100%;
    position: absolute;
    color: white;
    top: 0;
    display: flex;
    justify-content: space-between;
     animation:animation linear ;
     animation-timeline: view();
   animation-range: entry 0% cover 70%;
}

.page-5-hero-content .hero-content-left h1{
font-weight: 300;
font-size: 3vw;
}

.page-5-hero-content .hero-content-left .tags{
 display: flex;
 flex-wrap: wrap;
 width: 50%;
}

.page-5-hero-content .hero-content-left .tags p{
    padding: 10px 10px;
    border-radius: 23px;
    background-color: white;
    opacity: 0.8;
    color: black;
    margin-left: 8px;
    margin-top: 8px;
}
.page-5-hero-content .hero-content-right{
    justify-content: left;
}
.page-5-hero-content .hero-content-right h1{
    font-size: 3.5vw;
    font-weight: 300;
    margin-right: 50px;
    margin-bottom: 30px;
   
}

@keyframes animation {
    from{
      transform: translate(0,30px);
      
    }
    to{
       
       transform: translate(0,0);
    }
}

.personal-professional{
    display: flex;
    justify-content: space-between ;
    background-color: #d4d2d0;
    width: 100%;
    padding: 23px;
}
.personal{
   background-color: white;
    padding: 20px;
    width: 49%;
    border-radius:10px ;
}

.professional{
    background-color: #c5b297;
    padding: 20px;
    width: 49%;
    border-radius:10px ;
}
.personal-heading h3{
    font-size: 2vw;
    font-weight: 300;
    padding: 10px;
}
.personal-heading p{
    font-size: 1vw;
}
.personal-heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px dashed gray;
    padding-bottom: 20px;
}
.personal-heading .dot{
    margin-top: 5px;
    padding: 10px;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.personal-content b{
   font-weight: 500;
    font-size: 1vw;
}
.personal-content p{
    font-size: 0.8vw;
    padding: 6px;
    padding-left: 0;
}
.personal-content{
    padding: 10px;
    border-bottom:1px dashed gray
}


.video-div video{
    filter: blur(10px);
    width: 100%;
    height: 100%;
}
.video-div {
    border-radius: 10px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #d4d2d0;
    animation: videodiv ease-in-out ;
   animation-timeline: view();
   animation-range: entry 0% cover 60%;
}
@keyframes videodiv {
    from{
        scale: 0.9;
    }
    to{
        scale: 1;
    }
}

.video-div .video-div-content{
    position: absolute;
    width: 100%;
    opacity: 0.8;
    top: 0;
    color: white;
    padding: 50px;
    padding-top: 30px;
}

.video-div .video-div-content h1{
    font-size: 4.5vw;
    font-weight: 400;
}
.video-div-content h1{
    width: 100%;
    padding-bottom: 70px;
    border-bottom: 1px dashed gray;
}
.video-div-content-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    border-bottom:1px dashed gray
}
.video-div-content-1 img{
    margin-top: 20px;
    height:80px;
    border:1px solid white;
    border-radius: 50%;

}
 .video-div-content-1 h6{
    font-size: 1.5vw;
}

.video-div-content-1-right{
    margin-right: 50px;
}
.video-div-content-1-right b{
font-weight: 500;
font-size: 1.8vw;
}
.video-div-content-1-right ul li{
    margin-top: 10px;
    margin-left: 8px;
    font-size: 1vw;
}

/* page6 css */

.page-6-main{
    display: flex;
    justify-content: space-between;
    padding:30px;
}
.page-6-image-div{
    width: 50%;
    
}
.page-6-main img{
    position: sticky;
    top: 10px;
    object-fit: cover;
    width: 100%;
    height: 770px;
    border-radius: 10px;
   
}

.page-6-main .questions{
    flex: 1;
    padding: 10px;
}

.page-6-main .questions h1{
    font-size: 4vw;
    font-weight: 400;
    border-bottom:1px dashed gray;
    padding-bottom: 30px;
}

.page-6-main .questions .question{
    padding: 10px;
    display: flex;
    border-bottom: 1px dashed gray;
    justify-content: space-between;
}

.page-6-main .questions .question p{
    font-size:1.4vw;
}

.page-6-main .questions .question b{
    font-size: 30px;
    opacity: 0.8;
    font-weight: 100;
}

.footer-image-div{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.footer-image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}

.footer-image-div .footer-image-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    color: white;
    padding-left: 50px;
}

.footer-image-div .footer-image-content h1{
    font-size: 5vw;
    font-weight: 500;
}
.footer-image-div .footer-image-content p{
    padding: 20px;
    font-size: 1vw;
}
/* footer css */

footer{
    background-color: black;
    width: 100%;
    padding: 30px;
    color: white;
    display: flex;
    padding: 80px;
    justify-content: space-between;
}
footer h1{
    font-size: 2vw;
}
footer .newsletter h3{
    font-size: 1.3vw;
}

footer .newsletter p{
    margin:8px 0;
    font-size: 1vw;
}

footer .newsletter .input{
    width: 400px;
}
footer .newsletter .input input{
    width: 345px;
    flex: 1;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    outline: none;
    border: 1px solid gray;
    margin: 5px;
    margin-left: 0;
    padding: 5px;
    padding-left: 10px;
}

footer .newsletter .input button{
    padding: 12px;
    border-radius: 50%;
    color: white;
    background-color: black;
    border: 1px solid white;
}

footer .newsletter .input input:hover{
    background-color: white;
    color: gray;
    transition:ease-in-out 0.5s;

}
footer .newsletter .input button:hover{
    color: black;
    background-color: white;
    transition: ease-in-out 0.5s;
}
footer .info a{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

footer .info{
    display: flex;
    flex-direction: column;
    gap:60px;
}
footer .info .info-1{
    display: flex;
    flex-direction: column;
}

footer .info .info-1 p{
    font-size:1vw ;
    opacity: 0.6;
}
footer .info .info-1 a{
    padding: 3px;
    padding-left: 0;
    font-size: 1.3vw;
}

footer .info .info-2 p{
    font-size:1vw ;
    opacity: 0.6;
}

footer .info .info-2 a{
 padding: 3px;
    padding-left: 0;
    font-size: 1.3vw;
}
footer .social-media {
    display: flex;
    flex-direction: column;

}

footer .social-media p{
     font-size:1vw ;
    opacity: 0.6;
}
footer .social-media a{
    text-decoration: none;
    color: white;

    font-size: 1.3vw;

}